.image-box {
  width: 370px !important;
  height: 400px !important;
  object-fit: contain !important;
}
.portfolio-block-one .inner-box .image-box img {
  transition: all 500ms ease;
}

.image-box {
  width: 370px !important;
  height: 400px !important;
  display: flex; /* Ensures proper alignment if needed */
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents overflow */
}

.image-box img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

.bread-crumb{
  width: 220px;
}
@media (max-width: 768px) {
  .image-box {
    width: 100% !important;
    height: 400px !important;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
}
